/* RESPONSIVIDADE PARA DISPOSITIVOS IMÓVEIS SERÁ ADICIONADO EMBREVE: */










/* ---------- IMPORTANDO FONTES PERSONALIZÁVEIS DO MINECRAFT: --------- */

@font-face {
    font-family: caligrafia-do-minecraft;
    src: url(fontes/caligrafia-minecraft/caligrafia-Minecraft.ttf);
}

@font-face {
    font-family:titulo-minecraft ;
    src: url(fontes/minecrafter/Minecrafter.Alt.ttf);
} 



